.footnote-item {
  font-size: 75%;
  color: grey;
}

.empty-bg {
  background: none !important;
}

/* Fix rendering of link decorations with code blocks */
a code {
  position: relative;
  z-index: -1;
}
